:root {
    --font-family: Georgia, 'Times New Roman', Times, serif;
    
}


body{
    font: var(--font-family);
    background-color: #adcae6;
}


div.header { 
    background-color: antiquewhite; 
}

nav.header {
    margin: 20px 5px 20px 50px;
    display: flex; 
    flex-direction: wrap;
    justify-content: space-between;
}

h1 {
    color: black;
    font-weight: bold; 
    
}

h2 {
    font-weight: bold;
}

#topimage {
    display: flex;
    width: 100vw;


}

#h3container {
    display: flex;
    justify-content: right;
    align-items: right;
    position: relative;
    z-index: 1;
    text-align: right;
}

#h3 {
    display: flex;
    justify-content: right;
    align-items: right;
    position: relative;
    z-index: 1; /*i have not yet figured out
        how to get this to move up into the topimage*/
    text-align: right;
    
    
    

}


ul { /*selecting all ul to remove bullets*/
    list-style-type: none; 
}

li { /*this now only affects Resume*/
    font-weight: bold;
    text-decoration: underline;
    display: inline;
    margin: 45px;
    
}

li:hover {
    color:aqua;
}

a:link {
    color: black; 
    /*unsure why this does not
    change the nav links to black, further research
    required*/   
}

a:hover {
    color:aqua;
    /*where as this does work!*/
}


article.article {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    margin: 20px 5px 20px 50px;   
}

p {
    margin: 10px 40px;
    
}

div.images {
    display: flex;
    flex: 50% 0 0 0;
    width: 100vw;
}

.img {
    border-radius: 8px;
    max-width: 100%;
    height: 500px; 
}

#largerimage {
    
}

.subimg {
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    max-width: 100%;
    height: 500px;
   
}

.img:hover {
    color: aqua;
}

article.work {
    display: flex;
    flex-direction: wrap;
    margin: 20px 5px 20px 50px;
    

}  

article.contact-me {
    display: flex;
    flex: wrap;
    margin: 10px 10px 10px 50px;
    

}

  
 

.contact-li {
    padding: 50px;
      
}


.footer {
    text-align: center;
}




/*tablet size i saw this commonly listed on
stack overflow and other general google searches as 
tablet size even though this differs from the 992px listed
in the CWRU example*/
@media screen and (max-width: 768px) {
    body {
        background-color: antiquewhite;
    }
    }



    /*.contact-li 
        display: flex;
        flex-direction: column;
        margin: 10px;
    }*/



