/*left the png of my cat in images folder
because it my was test image and made me laugh.
hopefully she makes others laugh, too*/

:root {
    --font-family: Georgia, 'Times New Roman', Times, serif;
    /*background-color: rgb(242, 239, 213);*/
    --background-color: light blue;
}


body{
    font: var(--font-family);
    background-color: var(--background-color);
}


div.header { 
    background-color: #6A5ACD;
    
}

nav.header {
    margin: 20px 20px 20px 50px;
    display: flex; 
    
}

h1 h2 {
    font-weight: bold;
}


ul { /*selecting all ul to remove bullets*/
    list-style-type: none;
    margin: 
}

li {
    font-weight: bold;
    text-decoration: underline;
    display: inline;
    
    margin: 100px 45px 45px 45px;
    
}

li:hover {
    color:aqua;
}

#navmargin {
    margin: 100px;
}


article.contact {
    display: flex;
    flex-direction: wrap;
}

div.aboutme {
    
}

article.article {
   


   
    
}

p {
  

    
    
    
}


.img {
    border-radius: 8px;
    max-width: 100%;
    height: 500px;
    display: flex;
    
}

.subimg {
    border-radius: 8px;
    max-width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
}

.img:hover {
    color: aqua;
}

article.work {
    display: flex;
    flex-direction: wrap;
    

}